.mat-mdc-raised-button {
  margin: 10px 10px 20px;
  width: 300px;
  height: 40px;
}

.mdc-button:hover {

  margin: 10px 10px 20px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
  }

  input,
  select,
  button {
    margin-top: 5px;
  }

  button {
    margin-top: 20px;
  }
}

.categories {
  ul {
    gap: 10px;
    list-style-type: none;
    padding: 0;
    border: 2px solid black;
    position: absolute;
    background-color: white;
    z-index: 1000;
    margin-bottom: 10px;

    li {
      display: flex;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      border: 1px solid black;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

button.mat-primary, .mat-mdc-unelevated-button.mat-primary {
  margin: 0 10px 10px;
}

button.toggle-menu {
  margin: 20px 0 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5px;
}

.product-card {
  width: calc(24% - 10px);
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.mat-card-content {
  padding: 8px;
  flex-grow: 1;
}

.mat-card-actions {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.product-card img {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.product-description {
  font-size: 0.8em;
  width: 40% !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.menu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.categories {
  display: flex;
  justify-content: flex-start;
}

.mat-nav-list {
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.category-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  width: 200px;
}

.category-item:last-child {
  border-bottom: none;
}

.category-item:hover {
  background-color: #f0f0f0;
}
