.product-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5px;

}

.product-card {
  width: calc(24% - 10px);
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.mat-card-content {
  padding: 8px;
  flex-grow: 1;
}

.mat-card-actions {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.product-card img {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.product-description {
  font-size: 0.8em;
  width: 40% !important;
  margin: 0 auto !important;
  text-align: center !important;
}

@media (max-width: 768px) {
  .product-card {
    width: calc(25% - 5px);
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(50% - 5px);
  }
}
