body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Remove o scroll */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa 100% da altura da viewport */
  margin: 0; /* Remove margens */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/fundo.jpeg");
  background-size: cover; /* Ajusta para cobrir todo o fundo */
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
  opacity: 0.1; /* Ajusta a opacidade para 10% */
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 25% 55%;
  gap: 10px;
  width: 100%; /* Garante que o grid ocupe toda a largura */
}

.grid-item {
  margin-top: 10px;
  padding: 5px;
}
.grid-item.item2 h1,
.grid-item.item2 h5,
.grid-item.item2 h6 {
  line-height: 1.5; /* Ajuste o valor conforme necessário */
  margin: 0; /* Remove margens padrão */
}

.item1 {
  display: flex;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.item2,
.item3 {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.item3 {
  display: flex;
  margin-top: 40px;
}
