.grid-container {
  display: grid;
  grid-template-columns: 15fr 50fr 50fr;
  gap: 20px;
  width: 100vw;
  flex-grow: 1;
}

.grid-item {
  padding: 10px;
}

.item1 img {
  width: 50px;
  max-width: 100%;
}

.item2 {
  font-size: 1.5em;
  width: 300px;
  border:none !important;
 }

.error {
  color: red;
}
