<div *ngIf="isLoggedIn" class="welcome-message">
  <p>Bem-vindo, {{ username }}! Boas compras!</p>
  <button mat-flat-button class="button" (click)="logout()">Sair</button>
</div>
<app-header
  [isLoggedIn]="isLoggedIn"
  [username]="username"
  (searchEvent)="searchProducts($event)"
></app-header>

<div class="container">
  <div class="home">
    <div class="background-image"></div>
  </div>

  <div class="menu">
    <button mat-flat-button (click)="toggleMenu()">
      {{ selectedCategoryLabel }}
    </button>
  </div>

  <div class="categories" *ngIf="isMenuVisible">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
        class="category-item"
      >
        {{ category }}
      </mat-list-item>
    </mat-nav-list>
  </div>

  <app-products
    [products]="filteredProducts"
    [category]="selectedCategory"
  ></app-products>
</div>
